.topic-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.topic-first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    background-color: rgb(18, 18, 18);
    border-radius: 8px;
    padding: 0px 20px;
}